@model IEnumerable<TesterukASP.Models.history>
@{
    ViewBag.Title = "Тест";
}
<div id="left" class="position">
    <h2>Нужна помощь с тестами? Обратитесь к обучающим материалам.</h2>
    <!-- Кнопки для открытия модальных окон -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studyMaterialsArithmeticOperations">Арифметические операции</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studyMaterialsLogicalOperations">Логические операции</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studyMaterialsIf">Оператор выбора if</button>
    <br>
    <br>
    <br>
    <form onSubmit="countScore('@ViewBag.IdUser',2)" action="~/UserAccount" method="post">
        <!--Циферку тут надо менять на номер теста-->
        <h3>Тестирование в С++: арифметические и логические операции, преобразование типов данных, оператор выбора.</h3>
        <p><b>Какое ключевое слово указывает, что целая переменная не может принимать отрицательные значения?</b></p>
        <p><input type="radio" name="q1" value="0" checked> нет такого зарезервированного слова</p>
        <p><input type="radio" name="q1" value="0"> другое</p>
        <p><input type="radio" name="q1" value="1"> positive</p>
        <p><input type="radio" name="q1" value="0"> unsigned</p>
        <p><input type="radio" name="q1" value="0"> long</p>

        <p><b>Какие преобразования типов данных не возможны без потери данных?</b></p>
        <p><input type="radio" name="q2" value="0" checked> все перечисленные преобразования не возможны</p>
        <p><input type="radio" name="q2" value="1"> char to float</p>
        <p><input type="radio" name="q2" value="0"> float to int</p>
        <p><input type="radio" name="q2" value="0"> int to float</p>

        <p><b>Укажите операцию, приоритет выполнения которой ниже остальных.</b></p>
        <p><input type="radio" name="q3" value="0" checked> >></p>
        <p><input type="radio" name="q3" value="1"> <<</p>
        <p><input type="radio" name="q3" value="0"> ^</p>
        <p><input type="radio" name="q3" value="0"> ?:</p>
        <p><input type="radio" name="q3" value="0"> |</p>
        <p><input type="radio" name="q3" value="0"> ||</p>
        <p><input type="radio" name="q3" value="0"> &</p>
        <p><input type="radio" name="q3" value="0"> &&</p>


        <p><b>Укажите неправильно записанную операцию отношения.</b></p>
        <p><input type="radio" name="q4" value="0" checked> все операторы записаны правильно</p>
        <p><input type="radio" name="q4" value="0"> <=</p>
        <p><input type="radio" name="q4" value="1"> >=</p>
        <p><input type="radio" name="q4" value="0"> =!</p>

        <p><b>Результат выполнения следующего фрагмента кода: cout << 22 / 5 * 3;</b></p>
        <p><input type="radio" name="q5" value="0" checked> 12</p>
        <p><input type="radio" name="q5" value="0"> 1</p>
        <p><input type="radio" name="q5" value="1"> 13.2</p>
        <p><input type="radio" name="q5" value="0"> 1.47</p>
        <p><input type="radio" name="q5" value="0"> другое</p>

        <p><b>Чему равен результат выполнения следующего выражения: 1000 / 100 % 7 * 2</b></p>
        <p><input type="radio" name="q6" value="0" checked> 250</p>
        <p><input type="radio" name="q6" value="0"> 6</p>
        <p><input type="radio" name="q6" value="1"> 10</p>

        <p><b>Почему приведение типов данных может быть не безопасно.</b></p>
        <p><input type="radio" name="q7" value="0" checked> Вы можете навсегда изменить значение переменной.</p>
        <p><input type="radio" name="q7" value="0"> Вы можете временно потерять часть данных - таких, как отсечение десятичной части чисел с плавающей точкой.</p>
        <p><input type="radio" name="q7" value="1"> Некоторые преобразования не определены компилятором, такие как - преобразование символа в целое.</p>
        <p><input type="radio" name="q7" value="0"> нет никаких опасностей.</p>

        <p><b>Какой из ниже перечисленных вариантов ответа, показывает правильно записанный оператор выбора if ?</b></p>
        <p><input type="radio" name="q8" value="0" checked> условное выражение if</p>
        <p><input type="radio" name="q8" value="0"> if { условное выражение}</p>
        <p><input type="radio" name="q8" value="0"> if условное выражение</p>
        <p><input type="radio" name="q8" value="1"> if ( условное выражение )</p>

        <p><b>В каком случае лучше всего использовать приведение типов данных?</b></p>
        <p><input type="radio" name="q9" value="0" checked> чтобы изменить тип возвращаемого значения функции</p>
        <p><input type="radio" name="q9" value="0"> при делении двух целых чисел, для того, чтобы вернуть результат с плавающей точкой</p>
        <p><input type="radio" name="q9" value="0"> во всех выше указанных случаях</p>
        <p><input type="radio" name="q9" value="1"> чтобы разрешить программе использовать только целые числа</p>

        <p><b>Какой заголовочный файл следует подключить, чтобы можно было пользоваться приведением типов данных?</b></p>
        <p><input type="radio" name="q10" value="0" checked> cctype</p>
        <p><input type="radio" name="q10" value="0"> Никакого</p>
        <p><input type="radio" name="q10" value="1"> cmath</p>

        <p><input type="submit" value="Отправить"></p>
    </form>
</div>


<!-- Модальные окна -->
<!-- Окно с обучающей информацией по арифметическим операциям -->
<div class="modal fade bd-example-modal-lg" id="studyMaterialsArithmeticOperations" tabindex="-1" role="dialog" aria-labelledby="studyMaterialsArithmeticOperationsTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studyMaterialsArithmeticOperationsTitle">Арифметические операции</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Для успешного прохождения теста нас интересуют следующие основные арифметические операции в C++:
                    + — сложение;
                    - — вычитание;
                    * — умножение;
                    / — деление без остатка;
                    % — остаток от деления.
                </p>
                <p>
                    Для новичков в программировании трудности могут вызывать две операции деления. В чём же разница? 
                    Операция деления без остатка подразумевает целочисленное деление, т.е. любая дробь (больше/меньше) отбрасывается и возвращается целое значение без остатка. Например, 7 / 4 = 1.
                    Операция остаток от деления работает только с целочисленными операндами и возвращает остаток от целочисленного деления. Рассмотрим тот же пример. В случае использования % операция 7 % 4 вернёт 3 в качестве ответа.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Окно с обучающей информацией по логическим операциям -->
<div class="modal fade bd-example-modal-lg" id="studyMaterialsLogicalOperations" tabindex="-1" role="dialog" aria-labelledby="studyMaterialsLogicalOperationsTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studyMaterialsLogicalOperationsTitle">Логические операции</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    В С++ существует три логические операции:
                    Логическая операция И &&;
                    Логическая операция ИЛИ ||;
                    Логическая операция НЕ ! или логическое отрицание.
                </p>
                <p>
                    <b>Логический оператор И</b>
                    <br>
                    Только при условии, что оба операнда будут истинными, логический оператор И будет true. Если нет, тогда — false.
                    Например, условие (a == 3 && b > 4) будет истинным только если а = 3, а b > 4.
                </p>
                <p>
                    <b>Логический оператор ИЛИ</b>
                    <br>
                    Если хоть одно из двух условий является истинным, то логический оператор ИЛИ является true.
                    Рассмотрим всё тот же пример. Условие (a == 3 || b > 4) будет истинным, если или а = 3, или b > 4, или и то, и другое одновременно.  
                </p>
                <p>
                    <b>Логический оператор НЕ</b>
                    <br>
                    Логический оператор НЕ меняет результат на противоположный начальному значению.
                    Например, если операндом является true, то, после применения логического НЕ, результатом будет false. Если же операнд до применения оператора НЕ был false, то после его применения станет true.
                    Рассмотрим наш пример. Условие (!a == 3) будет истинным только тогда, когда а не равно 3.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Окно с обучающей информацией по оператору выбора if -->
<div class="modal fade bd-example-modal-lg" id="studyMaterialsIf" tabindex="-1" role="dialog" aria-labelledby="studyMaterialsIfTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studyMaterialsIfTitle">Оператор выбора if</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Оператор if служит для того, чтобы выполнить какую-либо операцию в том случае, когда условие является верным. Условная конструкция в С++ всегда записывается в круглых скобках после оператора if.
                    Внутри фигурных скобок указывается тело условия. Если условие выполнится, то начнется выполнение всех команд, которые находятся между фигурными скобками.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>